<a href="https://colab.research.google.com/github/WaleedBahtti/Assignments/blob/main/ASSIGNMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Task 01: 
###Write down a code which convert following Dictionary to Series: 
###heading: name, DoB, RollNo, marks values: ‘abc’, ‘2000-01-01’, ‘01’,63

In [ ]:
import pandas as pd 
d = {'name' : 'WALEED', 'DoB' : '2000-04-03', 'RollNo' : '2K21-MKIT-44', 'marks' : 63}
t = pd.Series(d)
type(t)

pandas.core.series.Series

In [ ]:
t

name            WALEED
DoB         2000-04-03
RollNo    2K21-MKIT-44
marks               63
dtype: object


###Task 02: 
###Consider Dataframe1 and write following code: Player Runs Balls Minutes Dots
###ABC  35   28   32   06
###DEF  30   27   24   03
###GEH  02   03   06   01
###IJK  56   58   65   13
###Dataframe1
###B: Write a code which display all columns of DataFrame1, having runs more than 30 and played for more than 30 minutes.

In [ ]:
M={
   'player' : ['WALEED','ANAS','HAYTHAM','HAMZA'],
   'Runs' : ["35","30","02","56"],
   'Balls' : ['28','27','03','58'],
   'Minutes' : ["32","24","06","65"],
   'Dots' : ['06','03','01','13']
  }
df = pd.DataFrame(M)
a=df
a.sort_values(by=['Runs'])

    player Runs Balls Minutes Dots
2  HAYTHAM   02    03      06   01
1     ANAS   30    27      24   03
0   WALEED   35    28      32   06
3    HAMZA   56    58      65   13

In [ ]:
df

    player Runs Balls Minutes Dots
0   WALEED   35    28      32   06
1     ANAS   30    27      24   03
2  HAYTHAM   02    03      06   01
3    HAMZA   56    58      65   13

In [ ]:
small_df=df
result = small_df[(small_df['Runs'] >= "30") & (small_df['Minutes'] >= "30")]
result

   player Runs Balls Minutes Dots
0  WALEED   35    28      32   06
3   HAMZA   56    58      65   13